<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yayang.setiyawan.caffe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caffe">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SuccessPembayaranActivity"
            android:exported="true" />
        <activity
            android:name=".activity.history.detail.DetailTransaksiMidtransActivity"
            android:exported="true" />
        <activity
            android:name=".activity.history.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.history.detail.DetailTransaksiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RiwayatActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ScannerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GetUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PembayaranActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestLoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.menu.CoffeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.menu.DrinkActivity"
            android:exported="true" />
        <activity
            android:name=".activity.menu.SnackActivity"
            android:exported="true" />
        <activity
            android:name=".UnitTesActivity"
            android:exported="true" />
        <activity
            android:name=".activity.menu.FoodActivity"
            android:exported="true" />
        <activity
            android:name=".TesActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DetailProdukActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>